{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Optical Character Recognition</legend>
                <div class="form-group">
                    {{ form.workid.label(class="form-control-label") }}
                    {% if form.workid.errors %}
                        {{ form.workid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.workid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.workid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.user_token.label(class="form-control-label") }}
                    {% if form.user_token.errors %}
                        {{ form.user_token(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_token.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_token(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.engine_choices.label(class="form-control-label") }}
                        {% if form.engine_choices.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.engine_choices.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% for choice in form.engine_choices %}
                        <div class="form-check">
                            {{ choice(class="form-check-input") }}
                            {{ choice.label(class="form-check-label") }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="container">
                        {{ form.work_file.label()}} 
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="work_file" id="work_file">
                            <label class="custom-file-label" for="work_file">{{form.work_file.filename}}</label>
                        </div>
                    {% if form.work_file.errors %}
                        {% for error in form.work_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <button type="button" class="btn btn-secondary">Upload file</button>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div> 
        </form>
    </div>
{% endblock content %}